<app-breadcrumb [title]="'Pisos'" [items]="['Piso']" [active_item]="'Listar'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h5 class="pt-1">Listar Pisos</h5>
            </div>
            <div class="col-6">
              <a [routerLink]="['/admin/instituicao/piso/inserir']" class="btn btn-success btn-sm float-right">
                Inserir Piso
              </a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <form class="form theme-form">
            <div class="row my-2">
              <div class="col-4">
                <div class="form-group">
                  <label for="pisoListInstituicao">Instituição:</label>
                  <select class="form-control" name="pisoListInstituicao" id="pisoListInstituicao"
                    [(ngModel)]="idInstituicao" (change)="getBlocos($event.target.value)">
                    <option value="">Selecione</option>
                    <option *ngFor="let instituicao of instituicoes;" value="{{ instituicao.id }}">
                      {{ instituicao.nome }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-4">
                <div class="form-group">
                  <label for="pisoListBloco">Bloco:</label>
                  <select class="form-control" name="pisoListBloco" id="pisoListBloco" [(ngModel)]="idBloco"
                    [disabled]="idInstituicao === ''" (change)="getPisos($event.target.value)">
                    <option value="">Selecione</option>
                    <option *ngFor="let bloco of blocos;" value="{{ bloco.id }}">
                      {{ bloco.nome }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="table-responsive" *ngIf="idBloco != ''">
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th>Piso</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody *ngIf="pisos.length > 0">
              <tr *ngFor="let piso of pisos;">
                <td>{{ piso.nome }}</td>
                <td>
                  <a [routerLink]="['/admin/instituicao/piso/' + piso.id + '/editar']"
                    class="badge badge-primary">
                    Alterar
                  </a>
                  <a class="badge badge-danger pointer" (click)="abrirModal(piso)">Remover</a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="pisos.length == 0">
              <tr>
                <td colspan="2">Nenhum resultado encontrado.</td>
              </tr>
            </tbody>
          </table>
          <app-pagination [pagedResponse]="paged" (paginar)="paginar($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>