<div class="modal-header">
  <h4 class="modal-title">Executar Ação no Microcontrolador</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th class="font-weight-bold">Atuador</th>
        <th class="font-weight-bold">Tipo</th>
        <th class="font-weight-bold">Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="microcontrolador.atuadores.length > 0">
      <tr *ngFor="let atuador of microcontrolador.atuadores">
        <td>{{ atuador.apelido }}</td>
        <td>{{ getNomeTipoAtuador(atuador.tipoAtuador) }}</td>
        <td>
          <div *ngIf="atuador.tipoAtuador == 1">
            <a class="badge badge-success pointer"
              *ngIf="!atuador.statusCheck || !atuador.statusCheck.on"
              (click)="activeModal.close({'operation': 1, 'microID': microcontrolador.id, 'actID': atuador.id, 'valor': 1})">
              Ligar Ar
            </a>
            <a class="badge badge-danger pointer"
              *ngIf="atuador.statusCheck && atuador.statusCheck.on"
              (click)="activeModal.close({'operation': 1, 'microID': microcontrolador.id, 'actID': atuador.id, 'valor': 0})">
              Desligar ar
            </a>
          </div>

          <div class="input-group my-1"
            *ngIf="atuador.tipoAtuador == 1 && atuador.statusCheck && atuador.statusCheck.on">
            <select class="custom-select input-group-sm" id="tempInput" [(ngModel)]="atuador.statusCheck.temp">
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-primary btn-sm" type="button"
                (click)="activeModal.close({'operation': 2, 'microID': microcontrolador.id, 'actID': atuador.id, 'valor': tempSelectedValue})">
                Mudar Temp.
              </button>
            </div>
          </div>

          <div class="input-group my-1" 
            *ngIf="atuador.tipoAtuador == 1 && atuador.statusCheck && atuador.statusCheck.on">
            <select class="custom-select input-group-sm" id="modeInput" [(ngModel)]="atuador.statusCheck.mode">
              <option value="0" selected>AUTO</option>
              <option value="1">COOL</option>
              <option value="2">DRY</option>
              <option value="3">FAN</option>
              <option value="4">HEAT</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-primary btn-sm" type="button"
                (click)="activeModal.close({'operation': 3, 'microID': microcontrolador.id, 'actID': atuador.id, 'valor': modeSelectedValue})">
                Mudar Mode
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="microcontrolador.atuadores.length == 0">
      <tr>
        <td colspan="3">Nenhum registro encontrado</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="activeModal.dismiss('Close click')">Fechar</button>
</div> -->